@model PersonWeb.Models.Person

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Person</legend>

    <div class="display-label">Age</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Age)
    </div>

    <div class="display-label">Height</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Height)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Gender</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">HairColor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HairColor)
    </div>
</fieldset>
@using (Html.BeginForm("Delete")) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Tilbake", "Index")
    </p>
}
